<!DOCTYPE html>
<html lang="en">
    <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
 <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <h2 class="mr-5"><i class="fa fa-search" aria-hidden="true"></i>TGIF</h2>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex justify-content-between w-25">
              <li class="nav-item active">
                <a class="nav-link" href="home-starter-page.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Congress 113
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="house-starter-page.html">house</a>
                  <a class="dropdown-item" href="senate-starter-page.html">senate</a>
                </div>
              </li>
            </ul>
            </form>
          </div>
          
          <a class="btn btn-primary" href="mailto:info@tgif.net" role="button"><i class="fas fa-envelope-square"> </i>info@tgif.net</a>
 </nav>    
  
    <div class="container" id="app">

        <div class="container col-12 d-flex border-bottom">
            <div class="col-6">
            <h2>Party Loyalty</h2>
            <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>
            </div>
    	    <div class="col-6">
            <h2>Senate at a glance</h2>
            <table id="tabla1" class="table-striped col-10 text-center table-dark table-hover">
                <thead>
                    <th>name</th>
                    <th>total</th>
                    <th>votes</th>
                </thead>
                <tbody>
                    <tr v-for="(value,key) in totales">
                        <td>{{key}}</td>
                        <td>{{value.total}}</td>
                        <td>{{value.porcentage}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="container col-12 d-flex">
            <div class="col-6">
            <h2>Least Loyal (Bottom 10% of Party)</h2>
            <table id="tabla2" class="table-striped col-10 text-center table-dark table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number Party Votes</th>
                        <th>% Party Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(member,key) in worse">
                        <template v-if='member.url!=""'>
                            <td><a :href="member.url">{{member.first_name}} {{member.second_name || ""}} {{member.last_name}}</a></td>
                        </template>
                        <template v-else>
                        <td>{{member.first_name}} {{member.second_name || ""}} {{member.last_name}}</td>
                        </template>
                        <td>{{(member.votes_with_party_pct*member.total_votes/100).toFixed(0)}}</td>
                        <td>{{member.votes_with_party_pct}}
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-6">
            <h2>Most Loyal (Top 10% of Party)</h2>
            <table class="table-striped col-10 text-center table-dark table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number Party Votes</th>
                        <th>% Party Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(member,key) in most">
                        <template v-if='member.url!=""'>
                            <td><a :href="member.url">{{member.first_name}} {{member.second_name || ""}} {{member.last_name}}</a></td>
                        </template>
                        <template v-else>
                        <td>{{member.first_name}} {{member.second_name || ""}} {{member.last_name}}</td>
                        </template>
                        <td>{{(member.votes_with_party_pct*member.total_votes/100).toFixed(0)}}</td>
                        <td>{{member.votes_with_party_pct}}
                    </tr>
                </tbody>
            </table>
            </div>
        </div> 
    </div>
        <script src="https://kit.fontawesome.com/2df4a7e448.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="fetch.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>